/* variables */
:root {
  --primary-color: maroon;
}

/* base styles*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  /* font-size: 16px; */
  background: var(--primary-color);
  color: gray;
}

ul {
  list-style: none;
}

h1,
h2,
h3,
h4 {
  color: #fff;
}

a {
  color: #fff;
  text-decoration: none;
}

p {
  margin: 0.5rem 0;
}

img {
  width: 100%;
}

.showcase {
  width: 100%;
  height: 105vh;
  position: relative;
  background: url('./netflBground.jpg') no-repeat center center/cover;
}

.showcase::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  background: rgba(0, 0, 0, 0.6);
}

.showcase-top {
  position: relative;
  height: 90px;
  z-index: 2;
}

/* positioning in its parent element which is showcase-top */
.showcase-top img {
  width: 140px;
  position: absolute;
  top: 30%;
  left: 3.9%;
}

.showcase-top a {
  position: absolute;
  top: 25%;
  right: 4%;
}

.showcase-content {
  position: relative;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: 8rem;
  z-index: 2;
}

.showcase-content h1 {
  font-weight: 700;
  font-size: 3.1rem;
  line-height: 1.1;
  margin: 0.5rem;
}

.showcase-content p {
  /* text-transform: uppercase; */
  color: #fff;
  font-weight: 100;
  /* margin: 1rem auto; */
  font-size: 1.6em;
  /* line-height: 1.3; */
  /* margin: 0 0 2rem; */
}

h5 {
  font-size: 1.3rem;
  font-weight: 100;
  margin: 1rem 0;
  color: #fff;
  /* margin-bottom: 20px; */
}

.input_email {
  width: 50%;
}

.input_email input {
  width: 100%;
  padding: 20px 10px;
  border: 1px solid #ccc;
  /* border-radius: 4px; */
  box-sizing: border-box;
  /* margin-top: px; */
  margin-bottom: 0 0 0 5px;
}

/* Buttons */
.btn {
  display: inline-block;
  background: var(--primary-color);
  color: white;
  padding: 0.4rem 1.3rem;
  font-size: 1rem;
  text-align: center;
  border: none;
  cursor: pointer;
  margin-right: 0.5rem;
  outline: none;
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.45);
  border-radius: 2px;
}

.btn:hover {
  opacity: 0.9;
}

.btn-rounded {
  border-radius: 2px;
}

.btn-xl {
  font-size: 1rem;
  padding: 0.8rem 2.5rem;
  text-transform: uppercase;
}
